/* Write your CSS here */
.jumbo-container {
    text-align: center;
    margin: 0 auto;
    color: white;
    font-weight: bold;
}

.card {
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(223, 219, 219);
    margin-bottom: 10px;

}

.panel-heading {
    font-style: bolder !important;
}